/* 
Project Name: Monthly Resolutions
Client: One Month
Author: Christopher Castig | @castig
*/


/*----------------------------------------------------------------------------- 
01=BASE   
-----------------------------------------------------------------------------*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.clear {
	clear: both;
}

body { background: url('../images/notebook.png'); /* add a fallback color of #d6d6d6 */
 color: #000000;
 font-family: 'Lato', sans-serif;
 line-height: 1.7; /* line-height is unit-less */
 font-size: 100%;
}

#body {

}

#container {
	width: 900px;
	margin: 0 auto 0 auto;
	padding: 20px

}

#header {

}

#main {
		background: white;
		width: 500px;
		padding: 10px;
		float: left;
}

#sidebar {
	background: white;
	width: 320px;
	padding: 15px;
	float: right;


}

#footer {
	width: 1000px;
	float: left;

}

.class {

}

.blogimage {
	padding: 5px;
	max-width: 100%;
	max-height: 100%;
}

.sidebarformat {
	border-left: thick solid #D3D3D3;

}

.chrisimage {
	border-radius: 100px;
}

blockquote {
  margin: 20px 0 30px;
  padding-left: 20px;
  border-left: 5px solid #D3D3D3;
}

/*----------------------------------------------------------------------------- 
02=LAYOUT  
-----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------- 
03=MAIN  
-----------------------------------------------------------------------------*/


