/* 

Project Name: Cookie Monster 
Client: Cookie Monster
Author: Chris Castiglione | www.twitter.com/castig | www.castig.org 
Developed @ One Month in NYC 

*/

body {
	background: url('../images/tree.jpg');
	/*background: url('../images/cookie-monster.jpg');*/
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#container {
		background: transparent;
		width: 425px;
		color: white;
		padding: 1px;
		position: relative;
		left: 1300px;
		bottom: 50px;
}

h1 {
	font-size: 70px;
	font-family: 'Big Shoulders Stencil Display', cursive;
}

h2 {
	background: #C97E8A;
	color: black;
	padding: 2px;
	border-radius: 5px;
	font-family: 'Big Shoulders Stencil Display', cursive;

}
a { 
	color: #75c1f6;
	text-decoration: none;
	 }
